<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/app/portfolio/portfolio.component.css">
    <link rel="stylesheet" href="/src/assets/css/main.css">
    <title>Meet the Creators</title>
</head>

<body>
    <div class="full-height-grow" style="width: 100%;">
        <!--Added style-->
        <!-- Nav Starts Here -->
        <nav>
            <div class="logo">
                <img id="navImage" src="/src/assets/img/logo.png" alt="Shield Logo" style="cursor: pointer">
                <div class="logo"> S.H.I.E.L.D.</div>
                <div class="spacer"></div>
                <div class="spacer"></div>
            </div>

            <ul class="nav-links">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="/src/app/portfolio/portfolio.component.html">Meet the Creators</a>
                </li>
                <li>
                    <a href="captainAmerica.html">Captain America</a>
                </li>
                <li>
                    <a href="ironMan.html">Iron Man</a>
                </li>
                <li>
                    <a href="thor.html">Thor</a>
                </li>
                <li>
                    <a href="hulk.html">Hulk</a>
                </li>
                <li>
                    <a href="blackWidow.html">Black Widow</a>
                </li>
                <li>
                    <a href="hawkeye.html">Hawkeye</a>
                </li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <!-- Nav Ends Here -->


        <div>
        <div class='container5'>
        <h1>Get to know the creators!</h1>
    </div>
    
    <!--Isabel's profile-->
    <div class='container1'>
        <div>
            <img src='/src/assets/img/IsabelCartoonProfilePic.png' class='iconDetails'>
        </div>  
        <div style='margin-left:120px;' class="textbox">
    <h2 class="text">Isabel's Favorite...</h2>
    <div style="font-size:1em" class="text">Character: Groot</div>
    <div style="font-size:1em" class="text">Movie: Captain America and the Winter Soldier</div>
    <div style="font-size:1em" class="text">Quote: "If you get hurt, hurt 'em back. If you get killed, walk it off." - Captain America</div>
    </div>
</div>
    
    <!--Ashley's profile-->
    <body>
        <div class='container2'>
            <div>
                <img src='/src/assets/img/AshleyCartoonProfilepic.jpg' class='iconDetails'>
            </div>  
        <div style='margin-left:120px;' class="textbox">
            <h2 class="text">Ashley's Favorite...</h2>
        <div style="font-size:1em" class="text">Character: Deadpool</div>
        <div style="font-size:1em" class="text">Movie: Guardians of the Galaxy</div>
        <div style="font-size:1em" class="text">Quote: "Drop your socks and grab your crocs, we're about to get wet on this ride" - Tony Stark</div>
        </div>
    </div>
    
    <!--Andrea's Profile-->
    <body>
        <div class='container3'>
            <div>
                <img src='/src/assets/img/AndreaCartoonProfilePic.jpg' class='iconDetails'>
            </div>
            <div style='margin-left:120px;' class="textbox">
                <h2 class="text">Andrea's Favorite...</h2>
                <div style="font-size:1em" class="text">Character: Grandmaster</div>
                <div style="font-size:1em" class="text">Movie: Avengers 1</div>
                <div style="font-size:1em" class="text">Quote: "No amount of money ever bought a second of time." - Tony Stark</div>
            </div>
        </div>

            <!--Bee's Profile-->

            <div class='container4'>
                <div>
                    <img src='/src/assets/img/BeeCartoonProfilepic.jpg' class='iconDetails'>
                </div>
                <div style='margin-left:120px;' class="textbox">
                    <h2 class="text">Bee's Favorite...</h2>
                    <div style="font-size:1em" class="text">Character: Spider-Man</div>
                    <div style="font-size:1em" class="text">Movie: Captain America: Winter Soldier</div>
                    <div style="font-size:1em" class="text">Quote: "I'd rather just stay on the ground for a little while. 'Friendly neighborhood Spider-Man'. Sombody's got to look out for the little guy, right?" - Peter Parker</div>
                </div>
            </div>
        </div>

        
        <script type="text/javascript" src="/src/assets/js/app.js"></script>

        <!-- Footer Starts Here -->

        <footer style="width: 100%; height: 350px;">
            <div class="footer-container" style="width: 1200px; height: 300px;">
                <div class="confidential">
                    <h2><u>CONFIDENTIAL INFORMATION</u></h2>
                    <h3>Contact Us</h3>
                    <ul>
                        <li>
                            <p>Ashley H <br>
                                <a href="mailto:ashley.hernandez@citi.com ">ashley.hernandez@citi.com</a>
                            </p>
                        </li>
                        <li>
                            <p>Isabel L<br>
                                <a href="mailto:isabel.liu@citi.com ">isabel.liu@citi.com</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="spoiler ">
                    <h2><u>SPOILERS ARE IMMINENT</u></h2>
                    <h3>About Us</h3>
                    <p>Welcome to our Avengers database! <br>Here you'll find information about the main <i>movie</i> avengers <br> Please enjoy!</p>
                    <h3>References</h3>
                    <ul>
                        <li>
                            <p>
                                <a href="https://www.marvel.com/disneyplus " target="_blank ">Disney</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="caution ">
                    <h2><u>PROCEED WITH CAUTION</u></h2>
                    <h3>Contact Us</h3>
                    <ul>
                        <li>
                            <p>Bee W<br>
                                <a href="mailto:abigail.wilson@citi.com ">abigail.wilson@citi.com</a>
                            </p>
                        </li>
                        <li>
                            <p>Andrea M<br>
                                <a href="mailto:andrea.marqueztavera@citi.com ">andrea.marqueztavera@citi.com</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="copyrightText ">
            <p style="color: #999; ">
                <a href="src/app/portfolio/portfolio.component.html" target="_blank">Meet the Creators</a> - <a href="https://www.citi.com" target="_blank">Thank You from Citi</a></p>
           
    </div>
    <!-- Footer Ends Here -->
        </div>
        <!-- Footer Ends Here -->
    </div>
</body>

</html>
